@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--linkColor);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #854dff;
    --lightred: #ff5757;
    --white: #ffffff;
    --offWhite: #f0f0f0;
    --lightGrey: #dbdbdb;
    --smokeyGrey: #716f6f;
    --offBlack: #141414;
    --linkColor: #3e52a3;
    --inputFontSize: 32px;
    --labelFontSize: 11px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--lightGrey);
    user-select: none;
}

body main .container {
    margin: 1.5rem 1.5rem;
    padding: 1rem 1rem;
    border-radius: 8px;
    border-bottom-right-radius: 16px;
    background-color: var(--white);
}

body main .container span {
    width: calc(25% - (1rem));
    display: flex;
    flex-direction: column;
}

body main .container .above {
    gap: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

body main .container span label {
    color: #716f6f;
    font-size: var(--labelFontSize);
}

body main .container span input {
    padding: 0.7rem 0.7rem 0.7rem 1rem;
    border-radius: 6px;
    border: 0.5px solid var(--offBlack);
}