@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

.attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--linkColor);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #854dff;
    --lightred: #ff5757;
    --white: #ffffff;
    --offWhite: #f0f0f0;
    --lightGrey: #dbdbdb;
    --smokeyGrey: #716f6f;
    --offBlack: #141414;
    --linkColor: #3e52a3;
    --inputFontSize: 32px;
    --labelFontSize: 11px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--lightGrey);
    user-select: none;
    flex-direction: column;
    display: flex;
    justify-content:center ;
    align-items: center;
}

body main .container {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    border-radius: 8px;
    border-bottom-right-radius: 80px;
    background-color: var(--white);
}

body main .container span {
    width: calc(25% - (1rem));
    display: flex;
    flex-direction: column;
}

body main .container .above {
    gap: 1rem;
    display: flex;
    /* justify-content: center; */ 
    /* margin-top: 1.5rem; */
}

body main .container span label {
    color: #716f6f;
    font-size: var(--labelFontSize);
}

body main .container span input {
    padding: 0.7rem 0.7rem 0.7rem 1rem;
    border-radius: 6px;
    border: 0.5px solid var(--lightGrey);
}

/* ---------------------------------------------------------------- */
body main div.line-button {
    display: flex;
    align-items: center;
}
body main div.line-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--primary);
    fill: var(--offWhite);
}

body main div.line-button div.line {
    border-bottom: 1px solid var(--lightGrey);
    width: 100%;
}
/* ---------------------------------------------------------------- */
body main div.result {}
body main div.result div.resultYear, div.resultMonth, div.resultDay {
    display: flex;
    align-items: center;
}
body main div.result div {
    display: flex;
    gap: 0.5rem;
    font-size: 3rem;
}


body main div.result div h1 {
    color: var(--primary);
    font-weight: 700;
    font-style: italic;
}

body main div.result div h2 {
    font-style: italic;
}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */